.cartCheckmkTransform {
  transform: translate(35px, -10px)
}
.CartFont {
  font-size: inherit;
}
@media screen and (max-width:380px ) {
  .CartFont {
    font-size: 13px;
  }
  .cartCheckmkTransform {
    transform: translate(20px, -10px)
  }
}
.borderRadiusCart {
  height: 100%;
  border-radius: 0px;
  margin: 0px;
  overflow-y: hidden;
}
.borderRadiusCart::-webkit-scrollbar {
  width: 0px;
}
@media screen and (max-width:767px ) {
  .borderRadiusCart {
    height: 80px;
    border-radius: 50px;
    margin: 0 10px;
    overflow-y: scroll;
  }
}
.logger {
  padding: 20px;
  background-image: url("https://res.cloudinary.com/dddx5qpji/image/upload/v1673943620/images_11_xqdlwb.webp");
  background-size: cover;
  background-color: white;
}
.themecolor {
  background-color: #222 ;
}
.infinite-scroll-component  {
  overflow: hidden !important;
 }
 @media screen and (max-width:600px ) {
  .swiper-button-next  {
    display: none !important;
  }
  .swiper-button-prev  {
    display: none !important;    
  }
 }
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 1;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #7ac142;
  stroke-miterlimit: 10;
  margin: 4% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
