 .backgcoverticalcenter
{
  background-color: transparent;
    top: 90%;
    width: 100%;
    position: fixed;
    height: 50px;
    display: flex;
    left: 0px;
    z-index: 100;
}

.bottomnav {
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 50%);
    position: fixed;
    z-index: 10;
    display: grid;
    height: 40px;
    width: 273px;
    border-radius: 25px;
    background-color: white;
    opacity: 1;
    transition: top 0.6s;
    left: 50%;
    transform: translate(-50%, 550%);
}
.icon
{
    font-size: 40px;
}
:global(.slideContainer) .myParent {
  display: none;
  }
@media screen and (min-width:600px){
.backgcoverticalcenter
{
  display: none;
}
}